<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title tiles:fragment="title">Książki</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/books.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="header">
        <div class="navbar">
            <div class="logo">
                <a href="/"><img th:src="@{/img/logo.png}"></a>
            </div>
            <div class="navigation">
                <ul class="navigation__list">
                    <li class="navigation__item"><a class="link" href="/dashboard">Strona Główna</a></li>
                    <li class="navigation__item"><a class="link " href="/books">Książki</a></li>
                    <li class="navigation__item"><a class="link" href="/orders">Zamówienia</a></li>
                    <li class="navigation__item"><a class="link" href="/settings">Ustawienia</a></li>
                    <li class="navigation__item" th:if="${#authorization.expression('hasRole(''ADMIN'')')}"><a class="link admin" href="/admin">Panel Admina</a></li>
<!--                    <li class="navigation__item"><a href="/shoppingCart"><i class="fas fa-shopping-cart cart"></i><b class="items-counter" th:if="${itemsCount} > 0" th:text="${itemsCount}"></b></a></li>-->
                    <li class="navigation__item "><a class ="login-btn" href="/logout">Wyloguj</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="edit-status-div">
    <form method="POST" action="#" th:action="@{/orders/status/{id}(id=${id})}" enctype="multipart/form-data">
            <div>
                <h5>Status</h5>
                <input th:value="${status}" type="text" class="input" id="status" name="status">
            </div>
            <div class="buttonHolder">
                <input type="submit" value="Edytuj" class="submit-button">
            </div>
    </form>
</div>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>