*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}
.success-logo {
    width: 200px;
    height: 200px;
}

.top-banner{
    width: 100%;
    background-color: #A063FF;
    padding: 20px;

}

.top-banner.t1 {
    margin-bottom: 20px;
}

.top-banner.t2 {
    margin-top: 20px;
}

.top-banner p{
    color:#fff;
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.success-container {
    width: 100%;
    display: block;
    margin:0 auto;
    text-align: center;
}

.success-container h1{
    font-weight: bold;
}
.success-container h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.success-container h3 {
    font-weight: 500;
    margin-bottom: 5px;
}
.continue-link {
    position: relative;
    top: 30px;
    text-decoration: none;
    padding: 15px 50px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    color:#fff;
    background-color: #A063FF;
}

.highlighted {
    color:#8d32a8;
    font-weight: 800;
}