<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title tiles:fragment="title">Kategorie</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/books.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="header">
        <div class="navbar">
            <div class="logo">
                <a href="/"><img th:src="@{/img/logo.png}"></a>
            </div>
            <div class="navigation">
                <ul class="navigation__list">
                    <li class="navigation__item"><a class="link" href="/dashboard">Strona Główna</a></li>
                    <li class="navigation__item"><a class="link" href="/books">Książki</a></li>
                    <li class="navigation__item"><a class="link" href="/orders">Zamówienia</a></li>
                    <li class="navigation__item"><a class="link" href="/settings">Ustawienia</a></li>
                    <li class="navigation__item" th:if="${#authorization.expression('hasRole(''ADMIN'')')}"><a class="link admin" href="/admin">Panel Admina</a></li>
                    <li class="navigation__item "><a class ="login-btn" href="/logout">Wyloguj</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="book-table">
    <table class="content-table">
        <thead>
        <tr>
            <th><a class="reserve-button" href="/categories/add">Dodaj kategorie</a></th>
            <th>Nazwa</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categories}">
            <th th:text="${category?.id}"></th>
            <th th:text="${category?.name}"></th>
            <th>
                <a th:href="@{/categories/edit/{id}(id=${category?.id})}" class="reserve-button edit ">Edytuj</a>
                <a th:href="@{/categories/delete/{id}(id=${category?.id})}" class="reserve-button delete">Usuń</a>
            </th>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>